@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Code+Pro&display=swap');

@font-face {
    src: url("../fonts/Whitney.otf");
    font-family: "Whitney";
}

*, *:after, *:before {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --background-primary: #000;
    --background-secondary: rgba(0, 0, 0, 0.85);
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, .7);
    --font-primary: "Whitney", sans-serif;
    --font-secondary: 'Source Code Pro', monospace;
    --font-logo: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
}